<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="DefaultConnection"
         connectionString="Server=705e5ef6-55d7-4bd4-8da3-a384016cf41c.sqlserver.sequelizer.com;Database=db705e5ef655d74bd48da3a384016cf41c;User ID=qjuutdsgglopvwma;Password=LmwAGrni7wKLCvUveoHPr4uTqZmmQVzv4TtUmQvviPZwEfUZPnFKuXSRYLjPebzk;" />
  </connectionStrings>
</configuration>